$secondary-white : #f0f0f0;
$primary-white : #f3f3f3;
$primary-light-gray : #eee;
$primary-mid-gray : #cacaca;
$primary-dark-gray: #969696;
$primary-orange : #e4871e;
$primary-green : #1eb400;
$primary-red : #ee0000;

$max-width-card : 240px;