// background colors

$bg__primary--white : #fff;
$bg__secondary--white : #f8f8f8;
$bg__alter--white : #F3F3F3;
$bg__primary--green : #66c03b;
$bg__secondary--green : #6bca3f;
$bg__primary--red : #ff5757;
$bg__secondary--red : #fc6767;
$bg__primary--gray: #8e8e8e;

// text colors

$text__primary--black : #000;
$text__secondary--black : #616161;
$text__alter--black : #1e1e1e;
$text__primary--white : #fff;