// background colors

$bg__primary--white : #fff;
$bg__secondary--white : #f8f8f8;
$bg__primary--green : #66c03b;
$bg__primary--red : #ff5757;

// text colors

$text__primary--black : #000;
$text__secondary--black : #616161;
$text__primary--white : #fff;