.btn {
  transition: ease-in-out .3s all;
  border: none;
  padding: .25em;
  font-size: 1em;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--rounded {
    border-radius: 10px;
  }

  &--wide {
    width: 100%;
  }

  &--orange {
    background-color: $primary-orange;
    color: $primary-white;

    &:disabled {
      background-color: $primary-dark-gray;
    }

    &--hover-green:hover {
      background-color: $primary-green;
    }

    &--hover-red:hover {
      background-color: $primary-red;
    }

  }

}
