.card {
  padding:  1em 1em .5em 1em;

  &--rounded {
    border-radius: 10px;
  }

  &--shadow {
    box-shadow: 10px 10px 10px 0px $primary-mid-gray;
  }

  &--white {
    background-color: $primary-white;
  }

}