@use 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 300 normal 100%/1.6 'Roboto', sans-serif;
}

body {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  background-color: $secondary-white;
}
