@import '../../assets/scss/vars'; 

.page {

  font-size: 1.7rem;

  &__title {
    text-align: center;
    padding: 1em 0px 1em 0px;
    text-transform: uppercase;
    font-weight: 300;
  }
}

@media screen and (max-width: $max-width-mid) {
  .page {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: $max-width-short) {
  .page {
    font-size: 1rem;
  }
}