@import '../../assets/scss/vars';

.page {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 1000px;
  padding : 0 1em;
  margin: 1em auto;
  margin-bottom: 60px;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    row-gap: 1em;
  }

}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: all ease-out .3s;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: all ease-in .3s;
}

@media screen and (max-width : $tablet) {
  .page {
    max-width: 700px;

    &__items {
      grid-template-columns: repeat(3, 33.3%);
    }

  }
}

@media screen and (max-width : $mobile) {
  .page {
    &__items {
      grid-template-columns: repeat(1, 100%);
    }

  }
}