@import '../../assets/scss/vars';

.grid-cvs {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
}

@media screen and (max-width: $max-width-mid) {
  .grid-cvs {
    grid-template-columns: repeat(auto-fit, 33.3%);
  }
}

@media screen and (max-width: $max-width-short) {
  .grid-cvs {
    margin: 0 auto;
    max-width: 240px;
    grid-template-columns: repeat(auto-fit, 100%);
  }
}