@import '../../assets/scss/vars';

.resume {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1em;

  &__title {
    text-align: center;
    padding-bottom: .25em;
    border-bottom: 1px solid $primary-orange;
    margin-bottom: .5em;
  }

  &__body {

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      &__title {
        padding-right: 1.75em;
      }

      &__value {
        &--green {
          color: $primary-green;
        }

        &--red {
          color: $primary-red;
        }
      }

    }
  }


}
