@import '../../assets/scss/vars';

.summary {
  padding: 1em;

  &__title {
    text-transform: uppercase;
    text-align: center;
    border-bottom: $primary-orange solid 1px;
  }

  &__resume {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1em 0;

  }

  &__global {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      &__title {
        margin: 0 auto;
      }
    }


  }

  &__restart {
    margin-top: 2em;
    text-align: center;
    font-size: 1.2em;

    & &__button {
      padding: .5em 2em;
    }

  }
  
}
