@import '../../assets/scss/vars';

.summary {
  padding: 1em;

  .summary-title {
    text-transform: uppercase;
    text-align: center;
    border-bottom: $primary-orange solid 1px;
  }

  .summary-resume {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1em 0;

  }

  .summary-globals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .summary-global-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
    }

    .summary-global-title {
      margin: 0 auto;
    }

  }

  .summary-restart-container {
    margin-top: 2em;
    text-align: center;

    .summary-button-restart {
      text-decoration: none;
      font-size: 1em;
      cursor: pointer;
      padding: .5em 2em;
      border: none;
      border-radius: 10px;
      background-color: $primary-orange;
      color: #fff;
    }

  }
  
}
