@import '../../assets/scss/vars';

.curriculum-card {
  background-color: $background-alter-color;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 1em 1.5em;
  padding:  1em 1em .5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 17px 14px 21px 0px $shadow-main-color;
  transition: ease-out .1s all;

  .curriculum-picture-container {
    text-align: center;
    width: 150px;
    height: auto;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: ease-in-out .5s all;
    }
  }

  .curriculum-body {
    transition: inherit;
    h3 {
      text-align: center;
    }
  }

  .curriculum-buttons {
    width: 100%;
    margin-top: 1em;

    button {
      background-color: $card-main-color;
      cursor: pointer;
      color: #fff;
      border: 2px solid $card-main-color;
      border-radius: 10px;
      font-size: 1em;
      padding: .5em;
      width: 100%;
      transition: ease-in-out .3s all;
    }

    button.button-green:hover {
      background-color: $button-green;
      border: 2px solid $button-green;
    }

  }

}