@import '../../assets/scss/vars';

.header {
  color: $text__primary--black;
  background-color: $bg__primary--white;
  text-align: center;
  min-height: 1em;

  &__title {
    letter-spacing: -2px;
    font-size: 3em;
    
    &--fixed {
      margin-left: -22px;
    }

  }
}
