@import '../../assets/scss/vars';

.main-header {
  background-color: $card-main-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 1em;
}

.header-title {
  color: $titles-main-color;
  font-size: 1.625em;
  padding: 1rem 0em;
}