@import '../../assets/scss/vars';

.nav {
  margin: .5em 0px;
  display: flex;

  &__link {
    text-decoration: none;
    margin: 0px 1.5em;
    color: $secondary-white;

    &__bar {
      width: 0%;
      background-color: $secondary-white;
      height: .25em;
      transition: ease-in-out width .2s;
    }

    &--active {
      .nav__link__bar {
        width: 100%;
      }

    }

    &:hover {
      .nav__link__bar {
        width: 100%;
        transition: ease-in-out width .2s;
      }

    }
    
  }
}

